<nav class="navbar">
  <ul>
    <li>
      <button class="btn" (click)="toggleSidebar()">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </button>
    </li>
    <li>My App</li>
    <div id="space"></div>
    <li>
      <button class="btn">
        <i class="fa fa-heart" aria-hidden="true"></i>
      </button>
    </li>
    <li>
      <button class="btn">
        <i class="fa fa-share-alt" aria-hidden="true"></i>
      </button>
    </li>
  </ul>
</nav>
<app-sidebar *ngIf="sideBarstatus"></app-sidebar>