* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.sidebar {
  position: fixed;
  left: 0;
  width: 150px;
  height: 100%;
  background-color: #f8f4f4;
}
.sidebar a div {
  padding: 15px 0px 10px 15px;
  color: black;
  box-sizing: border-box;
  border-top: 1px solid rgba(155, 155, 155, 0.5);
}
.sidebar a div i {
  padding-right: 10px;
}
